body {
    
}

header {

}

.button {
    
}

nav {
    text-align: center;
}

.nav-link {
    
}

h1 {

}

p {
    
}

.info {
   
}

article {
   
}

.article-but {
    
}

footer {
   
}

footer a {
    
}

footer p {

}

head {
    
}
html {
    background-color: blueviolet;
}

hero. {
    background-color: blueviolet;
}
